

.tourneyDiv {
    position: relative;
    display: inline-block;
    width: 250px;
}
.tourneyDiv img {

    width: 100%;
}

.vidDiv {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

.dotaYT {
    display: flex;
    flex-wrap: wrap;
}
