
.tourneyDiv {
    color: white;
    position: relative;
    display: inline-block;
    width: 250px;
}
.tourneyDiv img {
    width: 100%;
}

html { 
    background-image: url(../images/stadiumAudiencePixabay.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

p {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

.twitchDiv {
    display: flex;
    flex-wrap: wrap;
}

.twitchLink {
    background-color: black;
    color: white;
    display: inline-flex;
    width: 22%;
    margin: 1%;
    padding: 5px;
}
.twitchLink:hover {
    color: white;
}

.streamTitle {
    font-size: 16px;
    font-weight: bold;
    
}

.streamDescription {
    font-size: 12px; 
}

