
.tourneyDiv {
    color: white;
    position: relative;
    display: inline-block;
    width: 250px;
}
.tourneyDiv img {
    width: 100%;
}

html { 
    background-image: url(../images/stadiumAudiencePixabay.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    /* background-color: #999; */
    background-color: #fff;
}

p {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

.twitchDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.twitchLink {
    background-color: black;
    color: white;
    display: inline-flex;
    width: 23%;
    margin: 2% 0% 0% 0%;
    padding: 8px;
}
.twitchLink:hover {
    color: white;
}

.streamTitle {
    font-size: 16px;
    font-weight: bold;
    
}

.streamDescription {
    font-size: 12px; 
}

.bannerSolo {
    color: white;
}
.matchupDiv {
    background-color: black;
    display: block;
    text-align: center;
    width: 32%;
    margin: 5px 0px;
    padding: 11px;
}

.tourneyDiv {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.tournamentName {
    width: 100%;
    text-align: center;
    background-color: brown;
    font-size: 35px;
    padding: 15px;
}

.matchupName {
    font-weight: bold;
}

.matchupDate, .matchupTime, .winner {
    font-size: 12px;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


.heroBgIndex { 
    background-image: url(../images/logo.PNG);
    background-position: center center;
    background-repeat:  no-repeat;
    /* background-attachment: fixed; */
    background-size:  cover;
    background-color: #999;
}

.heroText {
    color: whitesmoke;
}

.heroBgDota {
    background-image: url(../images/dota/dotaVengeCrop.png);
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}

.heroBgLeague {
    background-image: url(../images/league/league.jpg);
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}

.heroBgOverwatch {
    background-image: url(../images/overwatch/ow.jpg);
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}

.heroBgCsgo {
    background-image: url(../images/csgo/Vqmtt7k.png);
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}

.heroBgContact {
    background-image: url(../images/f1.jpg);
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}

.tourneyCard {
    background-image: url(../images/maybeBg.png);
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}

.contactCard {
    background-color: #12121C;
}

.contactText {
    color: #80E2E5;
}

.button {
   width: 100%;
   background-color: #12121C;
   color: #80E2E5;
}

.button:hover, .button.is-active, .button:active, .button:focus {
    border-color: #03A9F4;
    color: #03A9F4;
}

.dropdown-content{
    width: 100%;
    background-color: black;
}

.dropdown-item{
    color: #80E2E5;
}
.dropdown-trigger {
    width: 100%;
}
.dropdown {
    width: 100%;
}
.dropdown.is-active .dropdown-menu{
    width: 100%;
    text-align: center;
}

.is-size-4, .is-size-2 {
    background-image: linear-gradient(to right, black, #2f070721);
    padding: 20px;
    margin: 40px 0px 5px;
    color: #80E2E5;
}

@media screen and (max-width: 767px) {
    .matchupDiv {
        width: 100%;
    }
    .tournamentName {
        font-size: 25px;
    }
    .twitchLink {
        width: 100%;
        margin: 3% 0% 0% 0%;
        padding: 15px;
    }
    a.dropdown-item, button.dropdown-item {
        padding-right: 1rem;
        white-space: pre-wrap;
        width: 100%;
    }
    
    
}